body {
  font-family: "Fredoka", sans-serif;
  color: #083d55;
  background-color: #1e90ff;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

h3.rectangleinfo {
  padding-top: 25px;
  text-align: center;
}

div.rectangleinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.lengthinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.breadthinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.rectangleunitinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.rectanglebutton {
  padding-top: 20px;
  text-align: center;
}

button.rectanglebutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}

div.resultdiv1 {
  text-align: center;
  padding-top: 10px;
  font-family: "Fredoka", sans-serif;
}

h3.squareinfo {
  padding-top: 25px;
  text-align: center;
}

div.squareinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.sideinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.squareunitinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.squarebutton {
  padding-top: 10px;
  text-align: center;
}

button.squarebutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}

div.resultdiv2 {
  text-align: center;
  padding-top: 10px;
  font-family: "Fredoka", sans-serif;
}

h3.triangleinfo {
  padding-top: 25px;
  text-align: center;
}

div.triangleinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.baseinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.heightinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.triangleunitinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.trianglebutton {
  padding-top: 10px;
  text-align: center;
}

button.trianglebutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}

div.resultdiv3 {
  text-align: center;
  padding-top: 10px;
  font-family: "Fredoka", sans-serif;
}

h3.circleinfo {
  padding-top: 25px;
  text-align: center;
}

div.circleinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.radiusinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.circleunitinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.circlebutton {
  padding-top: 10px;
  text-align: center;
}

button.circlebutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}

div.resultdiv4 {
  text-align: center;
  padding-top: 10px;
  font-family: "Fredoka", sans-serif;
}

h3.parallelograminfo {
  padding-top: 25px;
  text-align: center;
}

div.parallelograminput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.pbaseinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.pheightinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.parallelogramunitinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.parallelogrambutton {
  padding-top: 10px;
  text-align: center;
}

button.parallelogrambutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}

div.resultdiv5 {
  text-align: center;
  padding-top: 10px;
  font-family: "Fredoka", sans-serif;
}

h3.rhombusinfo {
  padding-top: 25px;
  text-align: center;
}

div.rhombusinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.diagonal1input {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.diagonal2input {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.rhombusunitinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.rhombusbutton {
  padding-top: 10px;
  text-align: center;
}

button.rhombusbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}

div.resultdiv6 {
  text-align: center;
  padding-top: 10px;
  font-family: "Fredoka", sans-serif;
}

div.backbutton {
  padding-top: 25px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}
