body {
  font-family: "Fredoka", sans-serif;
  color: #083d55;
  background-color: #1e90ff;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

h3.cuboidinfo {
  padding-top: 25px;
  text-align: center;
}

div.cuboidinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.lengthinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.breadthinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.heightinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.cuboidunitinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.cuboidbutton {
  padding-top: 10px;
  text-align: center;
}

button.cuboidbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

div.resultdiv1 {
  font-family: "Fredoka", sans-serif;
  padding-top: 10px;
  text-align: center;
}

h3.cubeinfo {
  padding-top: 25px;
  text-align: center;
}

div.cubeinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.edgeinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.cubeunitinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.cubebutton {
  padding-top: 10px;
  text-align: center;
}

button.cubebutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

div.resultdiv2 {
  font-family: "Fredoka", sans-serif;
  padding-top: 10px;
  text-align: center;
}

h3.cylinderinfo {
  padding-top: 25px;
  text-align: center;
}

div.cylinderinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.radiusinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.cyheightinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.cylinderunitinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.cylinderbutton {
  padding-top: 10px;
  text-align: center;
}

button.cylinderbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

div.resultdiv3 {
  font-family: "Fredoka", sans-serif;
  padding-top: 10px;
  text-align: center;
}

div.backbutton {
  padding-top: 25px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}
