body {
  font-family: "Fredoka", sans-serif;
  color: #083d55;
  background-color: #1e90ff;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

h3.ageinfo {
  padding-top: 25px;
  text-align: center;
}

div.ageinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.ageinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.agebutton {
  padding-top: 10px;
  text-align: center;
}

button.agebutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

div.resultdiv1 {
  font-family: "Fredoka", sans-serif;
  padding-top: 10px;
  text-align: center;
}

h3.birthyearinfo {
  padding-top: 25px;
  text-align: center;
}

div.birthyearinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.birthyearinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.birthyearbutton {
  padding-top: 10px;
  text-align: center;
}

button.birthyearbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

div.resultdiv2 {
  font-family: "Fredoka", sans-serif;
  padding-top: 10px;
  text-align: center;
}

div.backbutton {
  padding-top: 25px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}
