body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #064663;
  background-color: #4bdcc5;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

h3.bodymassindexinfo {
  padding-top: 25px;
  text-align: center;
}

div.bodymassindexinput {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input.weightinput {
  text-align: center;
  height: 25px;
  width: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input.heightinput {
  text-align: center;
  height: 25px;
  width: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

div.bodymassindexbutton {
  padding-top: 25px;
  text-align: center;
}

button.bodymassindexbutton {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 25px;
  width: 250px;
}

.resultdiv {
  padding-top: 50px;
  text-align: center;
}

div.backbutton {
  padding-top: 125px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 25px;
  width: 250px;
}
