body {
  font-family: "Fredoka", sans-serif;
  color: #083d55;
  background-color: #1e90ff;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

h2.info {
  padding-top: 10px;
  text-align: center;
}

div.buttons-1 {
  padding-top: 25px;
  text-align: center;
}

div.buttons-2 {
  padding-top: 10px;
  text-align: center;
}

div.buttons-3 {
  padding-top: 10px;
  text-align: center;
}

button {
  height: 75px;
  width: 300px;
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-size: large;
  margin: 3px;
}

div.devinfo {
  padding-top: 50px;
  text-align: center;
}
