body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #064663;
  background-color: #4bdcc5;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

h3.simpleinterestinfo {
  padding-top: 25px;
  text-align: center;
}

div.simpleinterestinput {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input.principleinput {
  text-align: center;
  height: 25px;
  width: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input.rateofinterestinput {
  text-align: center;
  height: 25px;
  width: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input.timeinput {
  text-align: center;
  height: 25px;
  width: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

div.simpleinterestbutton {
  padding-top: 10px;
  text-align: center;
}

button.simpleinterestbutton {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 50px;
}

div.resultdiv1 {
  padding-top: 10px;
  text-align: center;
}

h3.compoundinterestinfo {
  padding-top: 25px;
  text-align: center;
}

div.compoundinterestinput {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input.ciprincipleinput {
  text-align: center;
  height: 25px;
  width: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input.cirateofinterestinput {
  text-align: center;
  height: 25px;
  width: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input.citimeinput {
  text-align: center;
  height: 25px;
  width: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

div.compoundinterestbutton {
  padding-top: 10px;
  text-align: center;
}

button.compoundinterestbutton {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 50px;
}

div.resultdiv2 {
  padding-top: 10px;
  text-align: center;
}

div.backbutton {
  padding-top: 50px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 50px;
}
