body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #064663;
  background-color: #4bdcc5;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

div.backbutton {
  padding-top: 125px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 25px;
  width: 250px;
}
