body {
  font-family: "Fredoka", sans-serif;
  color: #083d55;
  background-color: #1e90ff;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

h3.simpleinterestinfo {
  padding-top: 25px;
  text-align: center;
}

div.simpleinterestinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.principleinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.rateofinterestinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.timeinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.simpleinterestbutton {
  padding-top: 10px;
  text-align: center;
}

button.simpleinterestbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}

div.resultdiv1 {
  padding-top: 10px;
  text-align: center;
}

h3.compoundinterestinfo {
  padding-top: 25px;
  text-align: center;
}

div.compoundinterestinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.ciprincipleinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.cirateofinterestinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.citimeinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.compoundinterestbutton {
  padding-top: 10px;
  text-align: center;
}

button.compoundinterestbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}

div.resultdiv2 {
  padding-top: 10px;
  text-align: center;
}

div.backbutton {
  padding-top: 25px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
}
