body {
  font-family: "Fredoka", sans-serif;
  color: #083d55;
  background-color: #1e90ff;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

h3.roundnumberinfo {
  padding-top: 25px;
  text-align: center;
}

div.roundnumberinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.roundnumberinput {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.roundnumberbutton {
  padding-top: 10px;
  text-align: center;
}

button.roundnumberbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

div.resultdiv {
  padding-top: 10px;
  text-align: center;
}

div.backbutton {
  padding-top: 25px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}
