body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #064663;
  background-color: #4bdcc5;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

h3.roundnumberinfo {
  padding-top: 25px;
  text-align: center;
}

div.roundnumberinput {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input.roundnumberinput {
  text-align: center;
  height: 25px;
  width: 250px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

div.roundnumberbutton {
  padding-top: 10px;
  text-align: center;
}

button.roundnumberbutton {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 50px;
}

div.resultdiv {
  padding-top: 10px;
  text-align: center;
}

div.backbutton {
  padding-top: 50px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 50px;
}
